-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: alquileres_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cobros_mensuales`
--

DROP TABLE IF EXISTS `cobros_mensuales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cobros_mensuales` (
  `id_cobro` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_periodo` int(10) unsigned NOT NULL,
  `id_persona` int(10) unsigned NOT NULL,
  `id_unidad` int(10) unsigned NOT NULL,
  `monto_alquiler` decimal(10,2) NOT NULL DEFAULT 0.00,
  `monto_luz` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ajuste_minimo_luz` decimal(10,2) NOT NULL DEFAULT 0.00,
  `monto_agua` decimal(10,2) NOT NULL DEFAULT 0.00,
  `monto_gas` decimal(10,2) NOT NULL DEFAULT 0.00,
  `otros_conceptos` decimal(10,2) NOT NULL DEFAULT 0.00,
  `descuento` decimal(10,2) NOT NULL DEFAULT 0.00,
  `mora` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total_cobrar` decimal(10,2) NOT NULL DEFAULT 0.00,
  `fecha_vencimiento` date DEFAULT NULL,
  `estado_pago` enum('PENDIENTE','PARCIAL','PAGADO','ANULADO') NOT NULL DEFAULT 'PENDIENTE',
  `observacion` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_cobro`),
  UNIQUE KEY `uq_cobro_periodo_persona_unidad` (`id_periodo`,`id_persona`,`id_unidad`),
  KEY `idx_cobro_periodo` (`id_periodo`),
  KEY `idx_cobro_persona` (`id_persona`),
  KEY `idx_cobro_unidad` (`id_unidad`),
  KEY `idx_cobro_estado` (`estado_pago`),
  CONSTRAINT `fk_cobro_periodo` FOREIGN KEY (`id_periodo`) REFERENCES `periodos` (`id_periodo`),
  CONSTRAINT `fk_cobro_persona` FOREIGN KEY (`id_persona`) REFERENCES `personas` (`id_persona`),
  CONSTRAINT `fk_cobro_unidad` FOREIGN KEY (`id_unidad`) REFERENCES `unidades` (`id_unidad`)
) ENGINE=InnoDB AUTO_INCREMENT=191 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cobros_mensuales`
--

LOCK TABLES `cobros_mensuales` WRITE;
/*!40000 ALTER TABLE `cobros_mensuales` DISABLE KEYS */;
/*!40000 ALTER TABLE `cobros_mensuales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_cobranza`
--

DROP TABLE IF EXISTS `config_cobranza`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `config_cobranza` (
  `id_config` int(11) NOT NULL AUTO_INCREMENT,
  `id_inmueble` int(11) NOT NULL,
  `monto_minimo_luz` decimal(10,2) NOT NULL DEFAULT 0.00,
  `yape_titular` varchar(120) DEFAULT NULL,
  `yape_numero` varchar(30) DEFAULT NULL,
  `yape_qr` varchar(255) DEFAULT NULL,
  `banco_nombre` varchar(120) DEFAULT NULL,
  `banco_titular` varchar(120) DEFAULT NULL,
  `banco_cuenta` varchar(50) DEFAULT NULL,
  `banco_cci` varchar(50) DEFAULT NULL,
  `mensaje_base` varchar(255) DEFAULT NULL,
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_config`),
  UNIQUE KEY `uk_config_cobranza_inmueble` (`id_inmueble`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_cobranza`
--

LOCK TABLES `config_cobranza` WRITE;
/*!40000 ALTER TABLE `config_cobranza` DISABLE KEYS */;
INSERT INTO `config_cobranza` VALUES (1,1,12.00,'Noelia Buj*','998083973','uploads/qr/qr-20260323070701-274185fd.jpg','BCP','Noelia D. Bujaico R.','19176632954022','00219117663295402258','Hola, te comparto tu resumen del mes.','2026-03-23 01:07:01','2026-03-23 00:10:35');
/*!40000 ALTER TABLE `config_cobranza` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inmuebles`
--

DROP TABLE IF EXISTS `inmuebles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inmuebles` (
  `id_inmueble` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `codigo_inmueble` varchar(20) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `direccion` varchar(255) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `cantidad_pisos` int(10) unsigned DEFAULT NULL,
  `estado` enum('ACTIVO','INACTIVO') NOT NULL DEFAULT 'ACTIVO',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_inmueble`),
  UNIQUE KEY `uq_inmueble_codigo` (`codigo_inmueble`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inmuebles`
--

LOCK TABLES `inmuebles` WRITE;
/*!40000 ALTER TABLE `inmuebles` DISABLE KEYS */;
INSERT INTO `inmuebles` VALUES (1,'INM001','Casa Principal Bujaico','DirecciÃ³n por completar - Lima, PerÃº','Inmueble de alquiler con primer y segundo piso',2,'ACTIVO','2026-03-22 19:53:38',NULL);
/*!40000 ALTER TABLE `inmuebles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lecturas_unidad`
--

DROP TABLE IF EXISTS `lecturas_unidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lecturas_unidad` (
  `id_lectura` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_periodo` int(10) unsigned NOT NULL,
  `id_unidad` int(10) unsigned NOT NULL,
  `id_ocupacion` int(10) unsigned DEFAULT NULL,
  `lectura_anterior` decimal(12,2) NOT NULL,
  `lectura_actual` decimal(12,2) NOT NULL,
  `fecha_lectura` date DEFAULT NULL,
  `observacion` varchar(255) DEFAULT NULL,
  `estado` enum('REGISTRADO','VALIDADO','ANULADO') NOT NULL DEFAULT 'REGISTRADO',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_lectura`),
  UNIQUE KEY `uq_lectura_periodo_unidad` (`id_periodo`,`id_unidad`),
  KEY `fk_lectura_ocupacion` (`id_ocupacion`),
  KEY `idx_lecturas_periodo` (`id_periodo`),
  KEY `idx_lecturas_unidad` (`id_unidad`),
  KEY `idx_lecturas_estado` (`estado`),
  CONSTRAINT `fk_lectura_ocupacion` FOREIGN KEY (`id_ocupacion`) REFERENCES `ocupacion_unidad` (`id_ocupacion`),
  CONSTRAINT `fk_lectura_periodo` FOREIGN KEY (`id_periodo`) REFERENCES `periodos` (`id_periodo`),
  CONSTRAINT `fk_lectura_unidad` FOREIGN KEY (`id_unidad`) REFERENCES `unidades` (`id_unidad`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lecturas_unidad`
--

LOCK TABLES `lecturas_unidad` WRITE;
/*!40000 ALTER TABLE `lecturas_unidad` DISABLE KEYS */;
/*!40000 ALTER TABLE `lecturas_unidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `liquidacion_luz_detalle`
--

DROP TABLE IF EXISTS `liquidacion_luz_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `liquidacion_luz_detalle` (
  `id_liquidacion_detalle` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_periodo` int(10) unsigned NOT NULL,
  `id_inmueble` int(10) unsigned NOT NULL,
  `id_unidad` int(10) unsigned NOT NULL,
  `id_persona` int(10) unsigned DEFAULT NULL,
  `id_lectura` int(10) unsigned NOT NULL,
  `id_recibo_luz` int(10) unsigned NOT NULL,
  `consumo_kwh` decimal(12,2) NOT NULL DEFAULT 0.00,
  `porcentaje_participacion` decimal(10,6) NOT NULL DEFAULT 0.000000,
  `monto_consumo` decimal(10,2) NOT NULL DEFAULT 0.00,
  `gasto_comun` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ajuste` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total_pagar_luz` decimal(10,2) NOT NULL DEFAULT 0.00,
  `estado` enum('GENERADO','RECALCULADO','ANULADO') NOT NULL DEFAULT 'GENERADO',
  `observacion` varchar(255) DEFAULT NULL,
  `fecha_calculo` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_liquidacion_detalle`),
  UNIQUE KEY `uq_liquidacion_periodo_unidad` (`id_periodo`,`id_unidad`),
  KEY `fk_liq_inmueble` (`id_inmueble`),
  KEY `fk_liq_lectura` (`id_lectura`),
  KEY `fk_liq_recibo` (`id_recibo_luz`),
  KEY `idx_liq_periodo` (`id_periodo`),
  KEY `idx_liq_unidad` (`id_unidad`),
  KEY `idx_liq_persona` (`id_persona`),
  CONSTRAINT `fk_liq_inmueble` FOREIGN KEY (`id_inmueble`) REFERENCES `inmuebles` (`id_inmueble`),
  CONSTRAINT `fk_liq_lectura` FOREIGN KEY (`id_lectura`) REFERENCES `lecturas_unidad` (`id_lectura`),
  CONSTRAINT `fk_liq_periodo` FOREIGN KEY (`id_periodo`) REFERENCES `periodos` (`id_periodo`),
  CONSTRAINT `fk_liq_persona` FOREIGN KEY (`id_persona`) REFERENCES `personas` (`id_persona`),
  CONSTRAINT `fk_liq_recibo` FOREIGN KEY (`id_recibo_luz`) REFERENCES `recibos_luz` (`id_recibo_luz`),
  CONSTRAINT `fk_liq_unidad` FOREIGN KEY (`id_unidad`) REFERENCES `unidades` (`id_unidad`)
) ENGINE=InnoDB AUTO_INCREMENT=174 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `liquidacion_luz_detalle`
--

LOCK TABLES `liquidacion_luz_detalle` WRITE;
/*!40000 ALTER TABLE `liquidacion_luz_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `liquidacion_luz_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ocupacion_unidad`
--

DROP TABLE IF EXISTS `ocupacion_unidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ocupacion_unidad` (
  `id_ocupacion` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_unidad` int(10) unsigned NOT NULL,
  `id_persona` int(10) unsigned NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `monto_alquiler` decimal(10,2) NOT NULL DEFAULT 0.00,
  `garantia` decimal(10,2) NOT NULL DEFAULT 0.00,
  `estado` enum('ACTIVO','FINALIZADO','ANULADO') NOT NULL DEFAULT 'ACTIVO',
  `observacion` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_ocupacion`),
  KEY `idx_ocupacion_unidad` (`id_unidad`),
  KEY `idx_ocupacion_persona` (`id_persona`),
  KEY `idx_ocupacion_estado` (`estado`),
  KEY `idx_ocupacion_fechas` (`fecha_inicio`,`fecha_fin`),
  CONSTRAINT `fk_ocupacion_persona` FOREIGN KEY (`id_persona`) REFERENCES `personas` (`id_persona`),
  CONSTRAINT `fk_ocupacion_unidad` FOREIGN KEY (`id_unidad`) REFERENCES `unidades` (`id_unidad`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ocupacion_unidad`
--

LOCK TABLES `ocupacion_unidad` WRITE;
/*!40000 ALTER TABLE `ocupacion_unidad` DISABLE KEYS */;
/*!40000 ALTER TABLE `ocupacion_unidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos`
--

DROP TABLE IF EXISTS `pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagos` (
  `id_pago` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_cobro` int(10) unsigned NOT NULL,
  `fecha_pago` date NOT NULL,
  `monto_pagado` decimal(10,2) NOT NULL,
  `metodo_pago` enum('EFECTIVO','YAPE','PLIN','TRANSFERENCIA','OTRO') NOT NULL DEFAULT 'EFECTIVO',
  `numero_operacion` varchar(100) DEFAULT NULL,
  `observacion` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_pago`),
  KEY `idx_pagos_cobro` (`id_cobro`),
  KEY `idx_pagos_fecha` (`fecha_pago`),
  CONSTRAINT `fk_pago_cobro` FOREIGN KEY (`id_cobro`) REFERENCES `cobros_mensuales` (`id_cobro`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos`
--

LOCK TABLES `pagos` WRITE;
/*!40000 ALTER TABLE `pagos` DISABLE KEYS */;
INSERT INTO `pagos` VALUES (1,182,'2026-03-23',106.72,'EFECTIVO','asd','asd','2026-03-23 02:38:01',NULL);
/*!40000 ALTER TABLE `pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `periodos`
--

DROP TABLE IF EXISTS `periodos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `periodos` (
  `id_periodo` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `anio` smallint(6) NOT NULL,
  `mes` tinyint(4) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `estado` enum('ABIERTO','CERRADO','ANULADO') NOT NULL DEFAULT 'ABIERTO',
  `observacion` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_periodo`),
  UNIQUE KEY `uq_periodo` (`anio`,`mes`),
  KEY `idx_periodos_estado` (`estado`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `periodos`
--

LOCK TABLES `periodos` WRITE;
/*!40000 ALTER TABLE `periodos` DISABLE KEYS */;
INSERT INTO `periodos` VALUES (1,2026,3,'2026-03-01','2026-03-31','ABIERTO','Periodo de facturacion marzo 2026','2026-03-22 19:53:38',NULL),(2,2026,2,'2026-02-01','2026-02-28','CERRADO','Periodo febrero 2026','2026-03-22 21:39:32',NULL);
/*!40000 ALTER TABLE `periodos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personas`
--

DROP TABLE IF EXISTS `personas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personas` (
  `id_persona` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `tipo_persona` enum('INQUILINO','PROPIETARIO','ADMIN','SUPERVISOR','OTRO') NOT NULL DEFAULT 'INQUILINO',
  `nombres` varchar(100) NOT NULL,
  `apellidos` varchar(100) NOT NULL,
  `tipo_documento` varchar(20) DEFAULT NULL,
  `numero_documento` varchar(20) DEFAULT NULL,
  `celular` varchar(20) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `observacion` varchar(255) DEFAULT NULL,
  `estado` enum('ACTIVO','INACTIVO') NOT NULL DEFAULT 'ACTIVO',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_persona`),
  UNIQUE KEY `uq_persona_documento` (`tipo_documento`,`numero_documento`),
  KEY `idx_personas_nombre` (`apellidos`,`nombres`),
  KEY `idx_personas_estado` (`estado`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personas`
--

LOCK TABLES `personas` WRITE;
/*!40000 ALTER TABLE `personas` DISABLE KEYS */;
/*!40000 ALTER TABLE `personas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recibos_luz`
--

DROP TABLE IF EXISTS `recibos_luz`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recibos_luz` (
  `id_recibo_luz` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_inmueble` int(10) unsigned NOT NULL,
  `id_periodo` int(10) unsigned NOT NULL,
  `numero_recibo` varchar(50) DEFAULT NULL,
  `numero_suministro` varchar(30) DEFAULT NULL,
  `fecha_emision` date DEFAULT NULL,
  `fecha_vencimiento` date DEFAULT NULL,
  `lectura_anterior_general` decimal(12,2) DEFAULT NULL,
  `lectura_actual_general` decimal(12,2) DEFAULT NULL,
  `consumo_kwh_general` decimal(12,2) DEFAULT NULL,
  `precio_kwh` decimal(10,4) NOT NULL DEFAULT 0.0000,
  `consumo_energia` decimal(10,2) NOT NULL DEFAULT 0.00,
  `cargo_fijo` decimal(10,2) NOT NULL DEFAULT 0.00,
  `mant_reposicion` decimal(10,2) NOT NULL DEFAULT 0.00,
  `alumbrado_publico` decimal(10,2) NOT NULL DEFAULT 0.00,
  `subtotal` decimal(10,2) NOT NULL DEFAULT 0.00,
  `igv` decimal(10,2) NOT NULL DEFAULT 0.00,
  `electrificacion_rural` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ajuste_redondeo_anterior` decimal(10,2) NOT NULL DEFAULT 0.00,
  `ajuste_redondeo_actual` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total_recibo` decimal(10,2) NOT NULL DEFAULT 0.00,
  `observacion` varchar(255) DEFAULT NULL,
  `estado` enum('ACTIVO','INACTIVO') NOT NULL DEFAULT 'ACTIVO',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_recibo_luz`),
  UNIQUE KEY `uq_recibo_luz_inmueble_periodo` (`id_inmueble`,`id_periodo`),
  KEY `idx_recibo_luz_inmueble` (`id_inmueble`),
  KEY `idx_recibo_luz_periodo` (`id_periodo`),
  CONSTRAINT `fk_recibo_luz_inmueble` FOREIGN KEY (`id_inmueble`) REFERENCES `inmuebles` (`id_inmueble`),
  CONSTRAINT `fk_recibo_luz_periodo` FOREIGN KEY (`id_periodo`) REFERENCES `periodos` (`id_periodo`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recibos_luz`
--

LOCK TABLES `recibos_luz` WRITE;
/*!40000 ALTER TABLE `recibos_luz` DISABLE KEYS */;
INSERT INTO `recibos_luz` VALUES (1,1,1,'REC-MAR-2026-001','1723684','2026-03-17','2026-04-01',30513.70,30795.40,281.70,0.5814,163.78,2.16,1.61,10.43,177.98,32.04,3.10,0.08,0.00,213.20,'Recibo mes marzo','ACTIVO','2026-03-22 19:53:38','2026-03-22 22:48:48'),(2,1,2,'REC-ABRIL-2026-002','1723684','2026-02-18','2026-03-15',30236.70,30513.70,277.00,0.5958,277.00,2.17,1.62,10.75,179.58,32.33,3.05,0.02,-0.08,214.90,NULL,'INACTIVO','2026-03-22 22:32:29',NULL);
/*!40000 ALTER TABLE `recibos_luz` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tarifas_servicios`
--

DROP TABLE IF EXISTS `tarifas_servicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tarifas_servicios` (
  `id_tarifa` int(11) NOT NULL AUTO_INCREMENT,
  `id_inmueble` int(11) NOT NULL,
  `servicio` varchar(50) NOT NULL,
  `descripcion` varchar(200) DEFAULT NULL,
  `monto` decimal(10,2) NOT NULL DEFAULT 0.00,
  `por_unidad` tinyint(1) NOT NULL DEFAULT 1,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_tarifa`),
  UNIQUE KEY `uk_inmueble_servicio` (`id_inmueble`,`servicio`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tarifas_servicios`
--

LOCK TABLES `tarifas_servicios` WRITE;
/*!40000 ALTER TABLE `tarifas_servicios` DISABLE KEYS */;
INSERT INTO `tarifas_servicios` VALUES (1,1,'AGUA','Servicio de agua mensual por unidad',30.00,1,1,'2026-03-22 23:18:03','2026-03-22 23:25:41'),(2,1,'GAS','Servicio de gas mensual por unidad',0.00,1,1,'2026-03-22 23:18:03','2026-03-22 23:18:03'),(3,1,'MANTENIMIENTO','Mantenimiento y limpieza por unidad',0.00,1,1,'2026-03-22 23:18:03','2026-03-22 23:18:03');
/*!40000 ALTER TABLE `tarifas_servicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unidades`
--

DROP TABLE IF EXISTS `unidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `unidades` (
  `id_unidad` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_inmueble` int(10) unsigned NOT NULL,
  `codigo_unidad` varchar(20) NOT NULL,
  `nombre_unidad` varchar(100) NOT NULL,
  `piso` int(11) NOT NULL,
  `tipo_unidad` enum('CUARTO','MINI_DPTO','DEPARTAMENTO','LOCAL','DEPOSITO','AREA_COMUN','MEDIDOR_GENERAL','OTRO') NOT NULL DEFAULT 'CUARTO',
  `tiene_medidor` enum('SI','NO') NOT NULL DEFAULT 'SI',
  `medidor_codigo` varchar(50) DEFAULT NULL,
  `tarifa_alquiler_base` decimal(10,2) NOT NULL DEFAULT 0.00,
  `observacion` varchar(255) DEFAULT NULL,
  `estado` enum('ACTIVO','INACTIVO') NOT NULL DEFAULT 'ACTIVO',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_unidad`),
  UNIQUE KEY `uq_unidad_codigo` (`id_inmueble`,`codigo_unidad`),
  KEY `idx_unidades_inmueble` (`id_inmueble`),
  KEY `idx_unidades_piso` (`piso`),
  KEY `idx_unidades_estado` (`estado`),
  CONSTRAINT `fk_unidades_inmueble` FOREIGN KEY (`id_inmueble`) REFERENCES `inmuebles` (`id_inmueble`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unidades`
--

LOCK TABLES `unidades` WRITE;
/*!40000 ALTER TABLE `unidades` DISABLE KEYS */;
/*!40000 ALTER TABLE `unidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vw_cobros_resumen`
--

DROP TABLE IF EXISTS `vw_cobros_resumen`;
/*!50001 DROP VIEW IF EXISTS `vw_cobros_resumen`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_cobros_resumen` AS SELECT
 1 AS `id_cobro`,
  1 AS `anio`,
  1 AS `mes`,
  1 AS `codigo_unidad`,
  1 AS `nombre_unidad`,
  1 AS `inquilino`,
  1 AS `monto_alquiler`,
  1 AS `monto_luz`,
  1 AS `monto_agua`,
  1 AS `monto_gas`,
  1 AS `otros_conceptos`,
  1 AS `descuento`,
  1 AS `mora`,
  1 AS `total_cobrar`,
  1 AS `total_pagado`,
  1 AS `saldo_pendiente`,
  1 AS `estado_pago` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_cobros_resumen`
--

/*!50001 DROP VIEW IF EXISTS `vw_cobros_resumen`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_cobros_resumen` AS select `c`.`id_cobro` AS `id_cobro`,`pr`.`anio` AS `anio`,`pr`.`mes` AS `mes`,`u`.`codigo_unidad` AS `codigo_unidad`,`u`.`nombre_unidad` AS `nombre_unidad`,concat(`pe`.`nombres`,' ',`pe`.`apellidos`) AS `inquilino`,`c`.`monto_alquiler` AS `monto_alquiler`,`c`.`monto_luz` AS `monto_luz`,`c`.`monto_agua` AS `monto_agua`,`c`.`monto_gas` AS `monto_gas`,`c`.`otros_conceptos` AS `otros_conceptos`,`c`.`descuento` AS `descuento`,`c`.`mora` AS `mora`,`c`.`total_cobrar` AS `total_cobrar`,ifnull(sum(`pg`.`monto_pagado`),0) AS `total_pagado`,round(`c`.`total_cobrar` - ifnull(sum(`pg`.`monto_pagado`),0),2) AS `saldo_pendiente`,`c`.`estado_pago` AS `estado_pago` from ((((`cobros_mensuales` `c` join `periodos` `pr` on(`pr`.`id_periodo` = `c`.`id_periodo`)) join `personas` `pe` on(`pe`.`id_persona` = `c`.`id_persona`)) join `unidades` `u` on(`u`.`id_unidad` = `c`.`id_unidad`)) left join `pagos` `pg` on(`pg`.`id_cobro` = `c`.`id_cobro`)) group by `c`.`id_cobro`,`pr`.`anio`,`pr`.`mes`,`u`.`codigo_unidad`,`u`.`nombre_unidad`,`pe`.`nombres`,`pe`.`apellidos`,`c`.`monto_alquiler`,`c`.`monto_luz`,`c`.`monto_agua`,`c`.`monto_gas`,`c`.`otros_conceptos`,`c`.`descuento`,`c`.`mora`,`c`.`total_cobrar`,`c`.`estado_pago` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-23  2:45:52
